@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: "Lora", monospace;
}

.bg {
  background: conic-gradient(
    from 165deg at 70% 50%,
    #ffffff 0deg,
    #bae390 360deg
  );
}
