@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: "Lora", monospace;
}

.bg {
  background: linear-gradient(
    #ffffff,
    #bae390
  );
}
