@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: "Lora", monospace;
}

.bg {
  background: linear-gradient(#ffffff, #bae390);
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bae390;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #708790;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bae390;
}
.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
